<!-- Stephen Silverstein
	https://github.com/sjsilverstein -->
	<!DOCTYPE html>
	<html>
	<head>
		<meta charset="utf-8"/>
		<title></title>
		<meta name="description" content="The text here describes what the webpage
		is about. It's what will show up in search results for search engines like
		google under the title of the webpage. It's important that this is relevant
		to your page and well written!">
		<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/myStyle.css')}}"> <!-- my style.css -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script src="{{ url_for('static', filename='js/myJavaScript.js') }}"></script> <!-- myJavaScript -->
	</head>
	<body>
		<div class="wrapper">
			<p>A ninja or shinobi was a covert agent or mercenary in feudal Japan. The functions of the ninja included espionage, sabotage, infiltration, assassination and guerrilla warfare.[1] Their covert methods of waging irregular warfare were deemed dishonorable and beneath the samurai, who observed strict rules about honor and combat.[2] The shinobi proper, a specially trained group of spies and mercenaries, appeared in the 15th century during the Sengoku period,[3] but antecedents may have existed as early as the 12th century.[4][5]

In the unrest of the Sengoku period (15th–17th centuries), mercenaries and spies for hire became active in the Iga Province and the adjacent area around the village of Kōga,[6] and it is from the area's clans that much of our knowledge of the ninja is drawn. Following the unification of Japan under the Tokugawa shogunate (17th century), the ninja faded into obscurity.[7] A number of shinobi manuals, often based on Chinese military philosophy, were written in the 17th and 18th centuries, most notably the Bansenshukai (1676).[8]

By the time of the Meiji Restoration (1868), the tradition of the shinobi had become a topic of popular imagination and mystery in Japan. Ninja figured prominently in legend and folklore, where they were associated with legendary abilities such as invisibility, walking on water and control over the natural elements. As a consequence, their perception in popular culture is often based more on such legend and folklore than on the historically accurate spies of the Sengoku period. - https://en.wikipedia.org/wiki/Ninja</p>
		</div>
	</body>
	</html>